{% extends 'layout.html' %}

{% block body %}
<body>
    <h1>Scissors paper rock.</h1>
    <h2> Pick.</h2>
    <div class="message"> {{ message }} </div>
    <form action="/ScissorsPaperRock" method="post">
        <label for="choice">Pick your choice: </label>
        <select id="choice", name="choice">
            {% for choice in game.choices %}
            <option value="{{choice}}">{{choice}}</option>
            {% endfor %}
        </select>
        <button type="submit">Submit</button>
    </form>
    <p> Your score is {{ scores[0] }}. The computers score is {{ scores[1] }}</p>
</body>

{% endblock %}