            <table class="table-bordered"> 
            {% for i in range(1, game.height + 1) %}
              <tr> 
                  {% for j in range (1, game.width + 1) %}

                       {% set ns = namespace(
                        position = [j, i], 
                        wall_detected = false,
                        snake_detected = false, 
                        apple_detected = false
                        ) %}

                       {% for wall in game.walls %}
                           {% if ns.position == wall.position %} 
                                {% set ns.wall_detected = true %}
                           {% endif %}
                       {% endfor %}

                       {% for apple in game.apples %}
                           {% if ns.position == apple.position %} 
                                {% set ns.apple_detected = true %}
                           {% endif %}
                       {% endfor %}

                       {% for snake in game.player.body %} 
                            {% if ns.position == snake.position %}
                               {% set ns.snake_detected = true %}
                            {% endif %} 
                       {% endfor %}

                       {% if ns.wall_detected %} 
                           <td class="wall"></td> 
                       {% elif ns.snake_detected %}  
                           <td class="snake"></td>
                       {% elif ns.apple_detected %} 
                           <td class="apple"></td>
                       {% else %}
                           <td class="cell"></td>
                       {% endif %}

                  {% endfor %}
               </tr>
           {% endfor %}
        </table>